<body id="logoN">
<%- include('./partials/header') %> 
  <div class="container" >
    <div class="row">
        <div class="col-12">
            <div class="divTitle">Jogos Marcantes :</div>
        </div>
                  <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="capa" id="jogo13" src="images/GoW.jpg" alt="Jogo 1">
                      <a class="gameTitle">God Of War</a> 
                  </div>
                  <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="capa" id="jogo14" src="images/GTA_SA.png" alt="Jogo 2">
                      <a class="gameTitle">GTA San Andreas</a>   
                  </div>
                  <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="capa" id="jogo15" src="images/GoW2.png" alt="Jogo 3">
                      <a class="gameTitle">God Of War 2</a>
                  </div>
                  <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="capa" id="jogo16" src="images/lion.jpg" alt="Jogo 4">
                        <a class="gameTitle">Resident Evil 4</a>
                  </div>
                  <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="capa" id="jogo17" src="images/mgs3.jpg" alt="Jogo 5">
                      <a class="gameTitle">Metal Gear Solid 3 : S...</a>
                  </div>  
                  <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="capa" id="jogo18" src="images/SotC.jpg" alt="Jogo 6">
                      <a class="gameTitle">Shadow Of the Col...</a>
                  </div>
            </div>
        <div class="row">
            <div class="col-12">
                <div class="divTitle">Jogos Populares :</div>
            </div>
              
                  <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="capa" id="jogo19" src="images/RDR2.jpg" alt="Jogo 7">
                      <a class="gameTitle">Red Dead Redemption 2</a>
                  </div>
                  <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="capa" id="jogo20" src="images/GoWR.jpg" alt="Jogo 8">
                      <a class="gameTitle">God of War Ragnarok</a>
                  </div>  
                    <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="capa" id="jogo21" src="images/TLOU2.png" alt="Jogo 9">
                      <a class="gameTitle">The Last of Us 2</a>
                  </div>  
                    <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="capa" id="jogo22" src="images/GoW4.jpg" alt="Jogo 10">
                      <a class="gameTitle">God of War</a>
                  </div>  
                  <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="capa" id="jogo23" src="images/FIFA23.jpg" alt="Jogo 11">
                      <a class="gameTitle">FIFA 23</a>
                  </div>
                  <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="capa" id="jogo24" src="images/ER.jpg" alt="Jogo 12">
                      <a class="gameTitle">Elden Ring</a>
                </div>
      </div>
  </div>
</body>
       <link rel="stylesheet" href="stylesheets/style.css">
</html>
