<body class="background-body">
  <%- include('./partials/header') %> 
    <div class="container" >
      <div class="row">
          <div class="col-12">
              <div class="divTitle">Jogos Nostálgicos :</div>
          </div>
                    <div class="game_card col-md-2 d-flex flex-column align-items-center">
                      <img class="capa" id="jogo1" src="images/playstation/GoW.jpg" alt="Jogo 1">
                        <p class="gameTitle" title="God of War">God Of War</p> 
                    </div>
                    <div class="game_card col-md-2 d-flex flex-column align-items-center">
                      <img class="capa" id="jogo2" src="images/GTA_SA.png" alt="Jogo 2">
                        <p class="gameTitle">GTA San Andreas</p>   
                    </div>
                    <div class="game_card col-md-2 d-flex flex-column align-items-center">
                      <img class="capa" id="jogo3" src="images/playstation/GoW2.png" alt="Jogo 3">
                        <p class="gameTitle">God Of War 2</p>
                    </div>
                    <div class="game_card col-md-2 d-flex flex-column align-items-center">
                      <img class="capa" id="jogo4" src="images/playstation/lion.jpg" alt="Jogo 4">
                          <p class="gameTitle">Resident Evil 4</p>
                    </div>
                    <div class="game_card col-md-2 d-flex flex-column align-items-center">
                      <img class="capa" id="jogo5" src="images/playstation/mgs3.jpg" alt="Jogo 5">
                        <p class="gameTitle">Metal Gear Solid 3 : Snake Eater</p>
                    </div>  
                    <div class="game_card col-md-2 d-flex flex-column align-items-center">
                      <img class="capa" id="jogo6" src="images/playstation/SotC.jpg" alt="Jogo 6">
                        <p class="gameTitle">Shadow Of the Colossus</p>
                    </div>
              </div>
          <div class="row">
              <div class="col-12">
                  <div class="divTitle">Jogos Populares :</div>
              </div>
                
                    <a class="game_card col-md-2 d-flex flex-column align-items-center" href="/aboutGame/RDR2">
                      <img class="capa" id="jogo7" src="images/RDR2.jpg" alt="Jogo 7">
                        <p class="gameTitle">Red Dead Redemption 2</p>
                    </a>
                    <a class="game_card col-md-2 d-flex flex-column align-items-center" href="aboutGame/God of War Ragnarok">
                      <img class="capa" id="jogo8" src="images/playstation/GoWR.jpg" alt="Jogo 8">
                        <p class="gameTitle" >God of War Ragnarok</p>
                    </a>  
                      <div class="game_card col-md-2 d-flex flex-column align-items-center">
                      <img class="capa" id="jogo9" src="images/playstation/TLOU2.png" alt="Jogo 9">
                        <p class="gameTitle">The Last of Us 2</p>
                    </div>  
                      <div class="game_card col-md-2 d-flex flex-column align-items-center">
                      <img class="capa" id="jogo10" src="images/playstation/GoW4.jpg" alt="Jogo 10">
                        <p class="gameTitle">God of War</p>
                    </div>  
                    <div class="game_card  col-md-2 d-flex flex-column align-items-center">
                      <img class="capa" id="jogo11" src="images/FIFA23.jpg" alt="Jogo 11">
                        <p class="gameTitle">FIFA 23</p>
                    </div>
                    <div class="game_card  col-md-2 d-flex flex-column align-items-center">
                      <img class="capa" id="jogo12" src="images/ER.jpg" alt="Jogo 12">
                        <p class="gameTitle">Elden Ring</p>
                  </div>
        </div>
    </div>
  </body>
         <link rel="stylesheet" href="/stylesheets/style.css">
  </html>
  