<%- include('./partials/header') %> 
<title>Informação do Jogo</title>
  <body>
    <div class="game-info">
      <h1>Game Title</h1>
      <img src="game-image.jpg" alt="Game Image">
      <p>Description of the game</p>
      <h2>Demo Images</h2>
      <div class="demo-images">
        <img src="demo-image-1.jpg" alt="Demo Image 1">
        <img src="demo-image-2.jpg" alt="Demo Image 2">
        <img src="demo-image-3.jpg" alt="Demo Image 3">
      </div>
      <a href="game-download-link">Download the game</a>
    </div>
  </body>
</html>
